.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
  height: 93vh;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*   height: 100%; */
  border: 3px solid blue;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
}

.title {
  text-transform: uppercase;
  position: relative;
  top: 0;
  font-size: 3rem;
  animation: fadeIn 2s;
  color: orange;
  border: 2px solid;
}

.move {
  top: -100%;
  transition: 3s;
  color: orangered;
}

.excuse {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: olive;
}

.bouton.hide {
  margin-top: 1rem;
  opacity: 0;
  visibility: hidden;
}

.bouton.show {
  margin-top: 1rem;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.HttpCode {
  background-color: #f0f0f0; /* Couleur de fond */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 5px; /* Coins arrondis */
  padding: 10px; /* Espacement intérieur */
  margin: 10px 0; /* Marge extérieure */
  font-size: 16px; /* Taille de police */
  color: #333; /* Couleur du texte */
}
